<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corrupti tenetur magni magnam excepturi error amet expedita ipsam molestiae blanditiis vitae recusandae, nisi, temporibus quia aperiam veniam aliquid, nam reprehenderit!</p>
</body>
</html>